<div class="login-form-container">
  <mat-card>
    <h2>{{ title }}</h2>

    <div class="field-lable"><span><b>Email:</b></span><span>*required</span></div>
    <mat-form-field appearance="outline">
      <input matInput
        type="email"
        placeholder="Enter email"
        [(ngModel)]="emailInput"
        required>
    </mat-form-field>

    <div class="field-lable"><span><b>Password:</b></span><span>*required</span></div>
    <mat-form-field appearance="outline">
      <input matInput
        type="password"
        placeholder="Enter password"
        [(ngModel)]="passwordInput"
        required>
    </mat-form-field>

    <div class="action-container">
      <a mat-flat-button>Forgot password?</a>
      <button mat-flat-button (click)="onLogin()" class="green-button">Login</button>
    </div>
  </mat-card>
</div>
