@import '../../../../styles.scss';

.modal-title {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 0.5em -24px;
}

.modal-content {
  padding: 1em 24px;
  p {
    margin: 0;
  }
}
