@import "../../../styles.scss";

:host {
  display: block;
  margin-bottom: 4em;
  .load-more {
    padding: 1em 0;
    text-align: center;
    a {
      @include link-style($link-color);
    }
  }
}
