@import "../../../styles.scss";

.mat-body-2 {
  text-align: center;
}

.add-course-button {
  padding-bottom: 1em;
  text-align: right;
  mat-icon {
    padding-right: 0.5em;
  }
}

.load-more {
  display: block;
  margin-bottom: 4em;
  padding: 1em 0;
  text-align: center;
  a {
    @include link-style($link-color);
  }
}
