$dark-color: #000000e0;
$light-color: #0000000d;
$white: #ffffff;
$link-color: #3f51b5;
$green-buttom: #61a500;

@mixin link-style($color) {
  padding: 0;
  line-height: normal;
  text-decoration: underline;
  color: $color;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  background-color: $light-color;
}

.container {
  padding: 0 4em;
}

.search-input {
  .mat-form-field-appearance-outline {
    .mat-form-field-outline {
      background-color: $white;
      border-radius: 5px;
    }
  }
}

.router-link {
  display: inline-block;
  color: $white;
  text-decoration: none;
  span {
    border-bottom: 1px solid transparent;
  }
  /*&.active-link {
    span {
      border-bottom-color: $white;
    }
  }*/
}

button.cancel-button {
  border: 1px solid $light-color;
}
.green-button {
  background-color: $green-buttom;
  color: $white;
}
